@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --dark-blue: hsl(240, 38%, 20%);
    --grayish-blue: hsl(240, 18%, 77%);
}
body {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    background: lightgrey;
    
}
.quote, .name, .occupation {
    font-weight: 300;
}

/******** CONTAINER *********/
.container {
    max-width: 100%;
    margin: 200px auto;
    width: 375px;
    height: 666px;
    background: 
        url('/images/pattern-bg.svg') center top no-repeat,
        url('/images/pattern-quotes.svg') center no-repeat,
        url('/images/pattern-curve.svg') left bottom no-repeat; 
    background-color: #fff;
    background-size: 320px, 60px, 280px;
    background-position: 60% 7%, 49% 60%, 0% 100%;
}


.carousel {
    height: 666px;
    width: 375px;
    position: relative;
    overflow: hidden;
}

.slider {
    /* display: flex;
    height: 100%; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 200%;
    transition: all 0.3s;
}

.card {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
/****** Image ********/
.image-container {
    height: 254px;
    width: 252px;
    padding-top: 53px;
}
.image-container img{
    width: 100%;
    border-radius: 4px;
}


/******* Content ********/
.quote {
    font-size: 1.1rem;
    color: #595765;
    text-align: center;
    line-height: 1.4;
    width: 325px;
    padding-top: 140px;
}
.name {
    font-size: .9rem;
    font-weight: 700;
    padding-top: 16px;
    padding-bottom: 2px;
}
.occupation {
    color: var(--grayish-blue);
    font-size: .9rem;
    font-weight: 500;
}

/******* Button *******/
.btn {
    position: absolute;
    width: 80px;
    top: 250px;
    left: 150px;
    border: none;
    background: #fff;
    border-radius: 20px;
    margin-top: 32px;
    box-shadow: 4px 8px 20px rgba(0,0,0,0.3);
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#prev, #next {
    cursor: pointer;
}

@media (min-width: 1440px){
    .container {
        max-width: 100%;
        margin: 200px auto;
        width: 1440px;
        height: 800px;
        background: 
            url('/images/pattern-bg.svg') center top no-repeat,
            url('/images/pattern-quotes.svg') center no-repeat,
            url('/images/pattern-curve.svg') left bottom no-repeat; 
        background-color: #fff;
        background-size: 700px, 120px, 600px;
        background-position: 90% 30%, 20% 32%, 0% 100%;
    }

    .carousel {
        height: 800px;
        width: 1440px;
        position: relative;
        overflow: hidden;
    }

    .slider {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        width: 200%;
        transition: all 0.3s;
    }

    .card {
        flex-basis: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: -48px;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: left;
    }
        /****** Image ********/
    .image-container {
        order: 1;
        height: 538px;
        width: 538px;
        padding-top: 0;
        margin-left: -90px;
        z-index: -1;
    }
    .image-container img{
        width: 100%;
        border-radius: 4px;
        
    }

    /******* Content ********/
    .quote {
        font-size: 2.1rem;
        color: #595765;
        text-align: left;
        line-height: 1.4;
        width: 690px;
        padding-top: 140px;
    }

    .name {
        font-size: 1.5rem;
        font-weight: 700;
        padding-top: 16px;
        padding-bottom: 2px;
    }
    .occupation {
        color: var(--grayish-blue);
        font-size: 1.5rem;
        font-weight: 500;
    }
    .btn {
        position: absolute;
        width: 80px;
        top: 592px;
        left: 800px;
        border: none;
        background: #fff;
        border-radius: 20px;
        margin-top: 32px;
        box-shadow: 4px 8px 20px rgba(0,0,0,0.3);
        height: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}